
.list-unstyled > li, a.tooltip {
  padding-right: 10px;
  display: inline;
}

.staffInput {
  position: absolute;
  left: 0%;
  top: 62%;
}

.displayContainer {
  top: 62%;
  float: left;
}

.staffInput, .inputDisplay {
  position: relative;
  float: left;
}

.inputDisplay {
  left: 10%;
}

#fileUpload, #fileSave {
  visibility: hidden;
}

.panel-body {
  padding: 10px;
}

.panel.panel-default {
  float: left;
  width: 80%;
  height: 198px;
}

.btn-group-vertical {
  float:left;
  border: 1px solid;
}

svg {
  top: 0;
  height: 50%;
  width: 31;
}

.cursor {
  background-color: lightblue;
}

svg.document.staff {
  float: left;
  display: block;
}

svg.left-bar.staff {
  display: block;
  float: left;
}

div.left-bar {
  float: left;
  background-color: #E5E5E5;
}

div.wrapper {
  position: relative;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  vertical-align: middle; 
  /*width: 1900px;*/
}

.document-view {
  display: inline-block;
  white-space: normal;
  text-align: center;
  overflow-x: auto;
  width: 1000px;
}

div.document {
  
  height: 128px;
  overflow-y: hidden;
  /*width: 9000px;*/
}

div.measure {
  float: left;
  display: inline;
}

div.staff {
  float: left;
  clear: both;
  width: 100%;
  height: 50%;
}

.panel.panel-default.shortcuts {
 width: 100%; 
}

.label-shortcuts {
  text-align: center;
}

.shortcut-row {
  text-align: center;
}

.key {
  height: 22px;
  padding-top: 0;
}

.key.letter {
  width: 18px;
  padding-left: 3px;
  background-color: #f8f8f8;
}

.key.action {
  width: 40px;
  padding-left: 5px;
}

.key-container {
  margin-right: 4px;
  margin-bottom: 5px;
}

.io-buttons {
  margin: 7px;
  position: absolute;
  right: 0
}

.top-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
}

body {
  padding-top: 70px;
}
