.staffInput {
  position: absolute;
  left: 0%;
  top: 62%;
}

.displayContainer {
  top: 62%;
  float: left;
}

.staffInput, .inputDisplay {
  position: relative;
  float: left;
}

.inputDisplay {
  left: 10%;
}

#fileUpload, #fileSave {
  visibility: hidden;
}

.panel-body {
  padding: 10px;
}

.panel.panel-default {
  float: left;
  width: 80%;
  height: 198px;
}

.btn-group-vertical {
  float:left;
  border: 1px solid;
}

svg {
  top: 0;
  height: 50%;
  width: 31;
}

.cursor {
    background-color: lightblue;
}

svg.document.staff {
    float: left;
    display: block;
}

svg.left-bar.staff {
    display: block;
    float: left;
}

div.left-bar {
    float: left;
  background-color: #E5E5E5;
}

div.measure {
    float: left;
}

div.staff {
    float: left;
    clear: both;
}

.panel.panel-default.shortcuts {
 width: 100%; 
}

.label-shortcuts {
  text-align: center;
}

.shortcut-row {
  text-align: center;
}

.key {
  height: 22px;
  padding-top: 0;
}

.key.letter {
    width: 18px;
    padding-left: 3px;
    background-color: #f8f8f8;
}

.key.action {
    width: 40px;
    padding-left: 5px;
}

.key-container {
    margin-right: 4px;
    margin-bottom: 5px;
}

.io-buttons {
    margin: 7px;
    position: absolute;
    right: 0
}

.top-bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
}

body {
    padding-top: 70px;
}

/*akjsdas*/
div.navbar.menu {
  position: absolute;
}

.nav.nav-tabs.nav-justified.menu {
  position: relative;
  width: 80%;
  left: 9%;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: rgb(240,240,240);
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

#troll {
  position: absolute;
}

.intro-header {
  
  padding-top: 50px; 
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../images/back.png) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  font-size: 5em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.section-heading {
  margin-bottom: 30px;
}

.social {
  float: right;
}


/*ajsdas*/

.document {
  overflow: scroll;
}

.staffInput {
  position: absolute;
  left: 0%;
  top: 62%;
}

.displayContainer {
  top: 62%;
  float: left;
}

.staffInput, .inputDisplay {
  position: relative;
  float: left;
}

.inputDisplay {
  left: 10%;
}

#fileUpload, #fileSave {
  visibility: hidden;
}

.panel-body {
  padding: 10px;
}

.panel.panel-default {
  float: left;
  width: 80%;
  height: 198px;
}

.btn-group-vertical {
  float:left;
  border: 1px solid;
}

svg {
  top: 0;
  height: 50%;
  width: 31;
}

.cursor {
    background-color: lightblue;
}

svg.document.staff {
    float: left;
    display: block;
}

svg.left-bar.staff {
    display: block;
    float: left;
}

div.left-bar {
    float: left;
  background-color: #E5E5E5;
}

div.measure {
    float: left;
}

div.staff {
    float: left;
    clear: both;
}

.panel.panel-default.shortcuts {
 width: 100%; 
}

.label-shortcuts {
  text-align: center;
}

#shortcut-row {
  text-align: center;
}




