<br>
<br>
<br>
<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
      <h2 class="section-heading"> About the application </h2>
      <p class="lead"> Lilypond-GUI was created by <a href="https://github.com/mcreinhard/">Michael Reinhard</a> and <a href="https://github.com/cilop/">Roberto Alvarez </a> as a short project during the second half of Hack Reactor's 12 week software engineering full-stack programming bootcamp. </p>
  
      <hr class="intro-divider">

      <p class="lead">
        The application was written using Javascript and HTML/CSS (Angular.js and Node.js). Together with Node-Webkit, it was compiled to be a desktop application.
      </p>
      </div>
    </div>
  </div>
</div>