<div class="container">
  <div class="row">
    <div class="col-lg-5">
    <h2 class="section-heading"> Demo section </h2>
    <p class="lead"> In the demo section, you can click to select the working track, and then use the keyboard shortcuts to write music.
    The Lilypond code is updated live, being translated from the visualization into working Lilypond code. </p>
    </div>
    <div class="row">
        <div class="col-lg-5">
          <h2 class="section-heading"> Compiled code: </h2>
          <p class="lead"> {{ lycode }} </p>
        </div>
    </div>
    </div>
  </div>
</div>

<input type="file" id="fileInput"/>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- <span> -->
        <ul class="list-unstyled">
          <li>
            <a class="tooltip" data-toggle="tooltip" data-placement="top" title="Load a .json file from a previous session." href="" ng-click="loadFile()"> Load </a>
          </li>
          <li>
            <span class="glyphicon glyphicon-open"></span> Load JSON File
          </li>
          <li>
            <a class="tooltip" data-toggle="tooltip" data-placement="top" title="Save your current session to a .json file" href="" ng-click="saveFile('.json')"> Load </a>
          </li>
          <li>
            <span class="glyphicon glyphicon-save"></span> Save JSON File
          </li>
          <li>
            <a class="tooltip" data-toggle="tooltip" data-placement="top" title="Save your current session to a .ly file" href="" ng-click="saveFile('.ly')"> Load </a>
          </li>
          <li>
            <span class="glyphicon glyphicon-save"></span> Save LY File
          </li>
          <li>
            <a class="tooltip" data-toggle="tooltip" data-placement="top" title="Switch to QWERTY keyboard layout" href="" ng-click="selectedKeyboard = 'qwerty'"> Load </a>
          </li>
          <li>
            <span class="glyphicon glyphicon-th"></span> QWERTY Keyboard
          </li>
          <li>
            <a class="tooltip" data-toggle="tooltip" data-placement="top" title="Switch to DVORAK keyboard layout" href="" ng-click="selectedKeyboard = 'dvorak'"> Load </a>
          </li>
          <li>
            <span class="glyphicon glyphicon-th"></span> DVORAK Keyboard
          </li>
        </ul>
    </div>
  </div>
</div>


<div class="container">
  <div ng-repeat="row in actions.keyboardLayouts[selectedKeyboard]">
    <div class="btn-group key-container" ng-repeat="key in row">
      <button class="btn btn-default btn-group-horizontal key letter">
        <b>{{key}}</b>
      </button>
      <button class="btn btn-default btn-group-horizontal key action">
        {{buttonDisplay(key)}}
      </button>
    </div>
  </div>
</div>

<div class="wrapper container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="section-heading" > Click below to edit the track: </h2>

        <div left-bar class="left-bar"></div>
        <div ng-keydown="keydown($event)" document-view class="document-view" tabindex="0"></div>

    </div>
  </div>
</div>

<br>
<br>
<br>

    <script>
        $(function(){
          $('.tooltip').tooltip();
        });
    </script>

