<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
      <h2 class="section-heading"> It compiles into Lilypond </h2>
      <p class="lead">Because it has been built from the ground up thinking about integration with Llypond code, it fully supports converting your work
      into Lilypond markup language, and thus, into PDF music sheets. This way you can worry about writing music, not code. Also, the interface uses SVG graphics for a sharp visual experience. </p>
      </div>
    </div>
  </div>
</div>