<br>
<br>
<br>
<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
      <h2 class="section-heading"> Demo section </h2>
      <p class="lead"> In the demo section, you can click to select the working track, and then use the keyboard shortcuts to write music.
      The Lilypond code is updated live, being translated from the visualization into working Lilypond code. </p>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
      <h2 class="section-heading"> Compiled code: </h2>
      <p class="lead"> {{ lycode }} </p>
      </div>
    </div>
  </div>
</div>
<p class="lead"> Click below to edit the track: </p>
<div document-view score="score" cursor="cursor" class="documentView" tabindex='0'></div>

<br>
<br>
<br>
<br>



