<br>
<br>
<br>
<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <h2 class="section-heading text-center"> Get a copy </h2>
      <p class="lead text-center"> Your operating system appears to be {{ os }}. Grab your copy of the software <a href="" id="download" ng-click="download()"> here </a>.
      If you are looking for a different version:  </p>
  
      <p class="lead text-center"> All versions: <a href="" ng-click="download('Mac OS')"> Mac OSX </a>, <a href="" ng-click="download('Linux')"> Linux </a>, <a href="" ng-click="download('Windows')"> Microsoft Windows </a>
      </p>
      </div>
      </div>
      </div>
      <hr class="intro-divider">