<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand"> Org name goes here </p>
    </div>
    <div class ="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/"> About the software </a></li>
        <li><a href="/"> Demos </a></li>
        <li><a href="/"> Downloads </a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1 class="text-center"> App name goes here </h1>
          <h3 class="text-center"> Cool description here </h3>
          <hr class="intro-divider">
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
      <h2 class="section-heading"> Heading !</h2>
      <p class="lead">Lorem ipsum dolor sit amet, mazim harum vivendum ius te, veritus graecis nec an. Adhuc oblique posidonium vis ne, quo id debet salutandi. Mel impedit sententiae at, id vidisse mediocrem per. Admodum theophrastus usu cu, mutat tractatos no qui.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2">
        <img class="img-responsive" src="../../images/lilypond1.png" alt="">
    </div>
  </div>
</div>

<hr class="intro-divider">

<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
      <h2 class="section-heading"> Heading !</h2>
      <p class="lead">Lorem ipsum dolor sit amet, mazim harum vivendum ius te, veritus graecis nec an. Adhuc oblique posidonium vis ne, quo id debet salutandi. Mel impedit sententiae at, id vidisse mediocrem per. Admodum theophrastus usu cu, mutat tractatos no qui.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2">
        <img class="img-responsive" src="../../images/lilypond1.png" alt="">
    </div>
  </div>
</div>

<hr class="intro-divider">

<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
      <h2 class="section-heading"> Heading !</h2>
      <p class="lead">Lorem ipsum dolor sit amet, mazim harum vivendum ius te, veritus graecis nec an. Adhuc oblique posidonium vis ne, quo id debet salutandi. Mel impedit sententiae at, id vidisse mediocrem per. Admodum theophrastus usu cu, mutat tractatos no qui.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2">
        <img class="img-responsive" src="../../images/lilypond1.png" alt="">
    </div>
  </div>
</div>

<hr class="intro-divider">

<div class="banner">
  <div class="row">
    <div class="col-lg-6">
      <h2> Contribute to the source code ! </h2>
    </div>
    <div class="col-lg-6">
       <ul class="list-unstyled social">
        <li>
          <a href="https://github.com" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a> 
        </li>
       </ul>
    </div>
  </div>
</div>




