<!doctype html>
<html class="no-js"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="../styles/main.css">
    
  </head>
  <body ng-app="lilypondWebApp" ng-controller='MainCtrl'>

    <!-- <div document-view score="score" cursor="cursor" class="documentView" tabindex='0'></div> -->


    <div class="container" ng-view=""></div>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand"> Org name goes here </p>
        </div>
        <div class ="collapse navbar-collapse navbar-right navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about"> About the software </a></li>
            <li><a href="/demo"> Demos </a></li>
            <li><a href="/download"> Downloads </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>

    <script src="../scripts/helper.js"></script>
    <script src="../scripts/svg/musicSVG.js"></script>
    <script src="../scripts/svg/paths.js"></script>
    <script src="../scripts/leftBar.js"></script>
    <script src="../scripts/documentView.js"></script>
    <script src="../scripts/app.js"></script>
    
    <script src="../scripts/data.js"></script>
    <script src="../scripts/actions.js"></script>
    
    <script src="../scripts/controllers/main.js"></script>

    <!-- <script src="../scripts/demo.js"></script> -->
    <!-- <script src="scripts/controllers/navbar.js"></script> -->

</body>
</html>
