<svg class="document staff" width="8" height="64" viewBox="0 -4 1 8">
  <g ng-staff single="type === 'meta'" width="1"/>
</svg>
<svg class="document staff" width="24" height="64" viewBox="0 -4 3 8"
     ng-show="model.staves[0].measures[measureNum].events.clef !== undefined">
  <g ng-staff single="type === 'meta'" width="3"/>
  <g ng-clef name="{{measure.events.clef}}"
     ng-show="measure.events.clef !== undefined"/>
</svg>
<svg class="document staff" width="64" height="64" viewBox="0 -4 8 8"
     ng-show="model.meta.measures[measureNum].events.key !== undefined">
  <g ng-staff single="type === 'meta'" width="8"/>
  <g ng-key-signature value="{{model.meta.measures[measureNum].events.key}}"
     y="{{type === 'meta' ? 0 : -0.5}}"/>
</svg>
<svg class="document staff" width="24" height="64" viewBox="0 -4 3 8"
     ng-show="model.meta.measures[measureNum].events.time !== undefined">
  <g ng-staff single="type === 'meta'" width="3"/>
  <g ng-time-signature top="{{model.meta.measures[measureNum].events.time.n}}"
     bottom="{{model.meta.measures[measureNum].events.time.d}}"/>
</svg>
<svg class="document staff" width="24" height="64" viewBox="0 -4 3 8"
     ng-repeat="note in model.staves[0].measures[measureNum].notes">
  <rect ng-cursor position="0" cursor-height="{{cursor.height}}"
        ng-show="cursor.staff === staff && cursor.measure === measureNum &&
                 cursor.position === $index"/>
  <g ng-staff single="type === 'meta'" width="3"/>
  <g ng-positioned-note position="{{-1/2 * (note.pitch - 6)}}" type="{{note.duration.d}}"
     x="{{note.duration !== undefined && note.duration.d === 1 ? 0 : 0.5}}"
     ng-show="type !== 'meta' && note.duration !== undefined"/>
</svg>
<svg class="document staff" width="16" height="64" viewBox="0 -4 2 8"
     ng-show="model.staves[0].measures[measureNum].notes.length === 0">
  <rect ng-cursor position="0" cursor-height="{{cursor.height}}"
        ng-show="cursor.staff === staff && cursor.measure === measureNum &&
                 cursor.position === 0"/>
  <g ng-staff single="type === 'meta'" width="3"/>
</svg>
<svg class="document staff" width="8" height="64" viewBox="0 -4 1 8">
  <g ng-staff single="type === 'meta'" width="3"/>
  <rect ng-barline type="|" position="1" size="{{type === 'meta' ? 1 : 2}}"/>
</svg>
